# ========== GENERAL ==========
*.class
*.log
*.pyc
*.swp
.DS_Store

# ========== IDES ==========
.idea/
*.iml
*.ipr
*.iws
.atom/
.history
.vscode/        # Uncomment to ignore VSCode settings

# ========== FLUTTER/DART ==========
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
**/doc/api/
**/ios/Flutter/.last_build_id

# ========== FIREBASE ==========
.firebase/              # Contains build cache and deployment state
.firebase/*

# ========== ANDROID ==========
/android/app/debug
/android/app/profile
/android/app/release

# ========== OBSCURE STUFF ==========
app.*.map.json
app.*.symbols

# ========== MACOS / LINUX / WINDOWS BUILD FILES ==========
**/Flutter/ephemeral/
**/xcshareddata/
**/xcuserdata/
**/Assets.xcassets/
**/Base.lproj/
windows/flutter/ephemeral/
linux/flutter/
macos/Flutter/

# ========== EXCEPTIONS ==========
!deploy.ps1       # Keep this script tracked
